<h2 class="mb-5 text-center">
    @if (cuenta) {
       EDITAR
    }@else {
       NUEVA
    } CUENTA 
    </h2>


    <div class="row row-cols-3 justify-content-center">
        @if (form) {
         <form [formGroup]="form" (ngSubmit)="save()">
             <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">TIPO DE CUENTA</label>
                 <input type="text" class="form-control"
                 formControlName="tipoCuenta">
             </div>
             <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">SALDO</label>
                 <input type="number" class="form-control" id="exampleInputPassword1" 
                 formControlName="saldo">
             </div>
             <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">EXENTA GMF</label>
               <input type="checkbox" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="exentaGmf">
             </div>
             <div class="text-end">
                 <button type="button" class="btn btn-danger" routerLink="cuenta-list">CANCELAR</button>
                 <button type="submit" class="btn btn-success">
                  @if (cuenta) {
                     ACTUALIZAR
                  }@else {
                     CREAR
                  }
                 </button>
             </div>
           </form>
        }
     </div>